html{
  scroll-behavior: smooth;
}
body {

  /* margin: 0%; */
  background-image: url("running.jpg");
  image-rendering: auto;
  image-rendering: crisp-edges;
   image-rendering: pixelated;
   width: 100%; 
 
  

   

   /* Center and scale the image nicely */
   /* background-position: center; */
   background-repeat: no-repeat;
   background-size: cover;
   -webkit-background-size: cover;
   
 

  /* font-family: 'Roboto';  */
  font-style: italic; 
  overflow: auto; 
  
  /* transition: background-color 1s ease;  if u want color transition*/
  
}

  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
}
.topnav{
  
  position: fixed;
  top: 0;
  background: rgba(36, 35, 35, 0.459);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1; 
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1{
  color: black; 
  text-align: center; 
  font-weight: bold; 
}


div.col-sm-4 {
  position: absolute;
  top: 20%; 
  left: 2%; 
  outline-style: solid;
  outline-color:black;
}


.roww{
  display: flex;
}
.column {
  
  flex: 33.33%;
  padding: 5px;
}




