body {
  /* height: 100%; */
  margin: 0%;
  background-image: url("alien.gif");
  image-rendering: auto;
  image-rendering: crisp-edges;
   image-rendering: pixelated;

   /* height: 100%;  */

   /* Center and scale the image nicely */
   /* background-position: center; */
   /* background-repeat: no-repeat; */
   background-size: cover;
 

  /* font-family: 'Roboto';  */
  font-style: italic; 
  /* transition: background-color 1s ease;  if u want color transition*/
  
}

  /* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color:white; 
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
  
}
.topnav{
  
  position: fixed;
  top: 0;
  background: rgba(36, 35, 35, 0.459);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1; 
  
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

h1{
  color: red; 
  text-align: center; 
}


div.col-sm-4 {
  position: fixed;
  top: 20%; 
  left: 2%; 
  outline-style: solid;
  outline-color:red;
}
